[submodule "themes/toha"]
	path = themes/toha
	url = https://github.com.cnpmjs.org/hugo-toha/toha.git
[submodule "themes/hugo-theme-codex"]
	path = themes/hugo-theme-codex
	url = https://github.com.cnpmjs.org/jakewies/hugo-theme-codex.git
[submodule "public"]
	path = public
	url = git@github.com:Balvboy/balvboy.github.io.git
	branch = master
